.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  background-clip: padding-box;
  background-color: #373737;
}

.board div {
  width: 100px;
  aspect-ratio: 1;
  border-color: var(--light-clc);
  border-style: solid;
  border-width: 0;
  display: grid;
  place-items: center;
  font-size: 3rem;
}

.board div:nth-child(1),
.board div:nth-child(2),
.board div:nth-child(4),
.board div:nth-child(5) {
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.board div:nth-child(3),
.board div:nth-child(6) {
  border-bottom-width: 1px;
}

.board div:nth-child(7),
.board div:nth-child(8) {
  border-right-width: 1px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
