:root {
  --dark-clc: #222;
  --light-clc: #eee;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    background-color: var(--dark-clc);
    color: var(--light-clc);
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
}

main {
  min-height: 100vh;
  min-height: 100svh;
  display: grid;
  place-content: center;
}
