.tw-followCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
}

.tw-followCard:has(*:hover),
.tw-followCard:hover {
  background-color: rgba(255, 255, 255, 0.035);
}

.tw-folloCard-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.tw-folloCard-header div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.tw-folloCard-header div strong {
  font-size: 1.05rem;
}

.tw-folloCard-header div span {
  font-weight: 100;
  color: rgba(255, 255, 255, 0.348);
}

.tw-folloCard-avatar {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
}

.tw-folloCard-btn {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  background-color: var(--light-clc);
  font-weight: 600;
  font-size: 1rem;
}

.tw-folloCard-btn.isFollowing {
  width: 150px;
  background-color: transparent;
  color: white;
  border-color: rgb(255, 255, 255, 0.298);
}

.tw-folloCard-btn.isFollowing:hover {
  background-color: rgb(255, 0, 0, 0.098);
  border-color: rgba(255, 0, 0, 0.299);
  color: red;
}

.tw-folloCard-btn-stopFollow {
  display: none;
}

.tw-folloCard-btn.isFollowing:hover .tw-folloCard-btn-stopFollow {
  display: initial;
}

.tw-folloCard-btn.isFollowing:hover .tw-folloCard-btn-text {
  display: none;
}
